@import "tailwindcss";


body{


  background: linear-gradient(rgb(25, 25, 167),rgb(6, 6, 70)),url("/bg1.jpeg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
}


  

